[Desktop Entry]
Type=Application
Name=AppManager
GenericName=AppImage Manager
Comment=Find, install, update and alias AppImages
Exec=appmanager %F
Icon=dev.appmanager.AppManager
Terminal=false
Categories=Utility;GTK;
MimeType=application/vnd.appimage;application/x-iso9660-appimage;
Keywords=AppImage;alias;PATH;launcher;install;update;
StartupWMClass=dev.appmanager.AppManager
